@import './base.css';

/* 覆盖默认的css 可以在这里添加 */

#app {
  font-weight: normal;
}

.page {
  padding: 8px 12px;
  height: 100%;
  width: 100%;
}

.arco-pagination {
  height: 40px;
  justify-content:end;
}

.arco-form-item-content-flex {
  display: flex;
  align-items: center;
  justify-content: center;
}